h1.a1{ 
    color: red;
    font-size: 300%;
    text-align: center;
}
p#a1{
    color: green;
    font-size: x-large;
    text-align: center;
}
p.a2{
    color: black;
    font-size: x-large;
    text-align: center;
}
p.a3{
    color: coral;
    font-size: x-large;
    text-align: center;
}
h4,p.a5{
    color: cornflowerblue;
    font-size: x-large;
    text-align: center;
}
p.a6{
    background-color: cornsilk;
    color: black;
    font-size: x-large;
    text-align: center;
}
h1.a7{
    color: blue;
    font-size: 300%;
    text-align: center;
}
p.a8{
    color: black;
    font-size: x-large;
    text-align: center;
    border-style: dotted;
}
p.a9{
    color: black;
    font-size: x-large;
    text-align: center;
    border-style: dashed;
}
p.a10{
    color: black;
    font-size: x-large;
    text-align: center;
    border-style: solid;
}
p.a11{
    color: black;
    font-size: x-large;
    text-align: center;
    border-style: double;
}
p.a12{
    color: black;
    font-size: x-large;
    text-align: center;
    border-style: double;
    border-width: 15px;
    border-color: rgba(21, 216, 151, 0.829);
}
p.a13{
    color: black;
    font-size: x-large;
    text-align: center;
    border-style: dotted solid dashed groove;
    border-width: 10px;
    border-color: rgba(216, 21, 21, 0.829);
}
p.a14{
    color: rgb(121, 20, 20);
    font-size: x-large;
    text-align: center;
    border-style: double;
    border-width: 15px;
    border-color: rgb(10, 73, 53);
    margin: 20px 100px 20px 100px;
    padding: 50px 100px 50px 100px;
}